<ul class="list-group">
    <li class="list-group-item list-group-item-info "
        (click)="addBookmark()">
        <i class="fa-solid fa-plus"></i> Add  
    </li> 
    <li class="list-group-item"
        (click)="goToBM()"
        *ngFor="let bookmark of bookmarks; let i = index"
         >
         <!-- [ngStyle]="{
            'background-color': bookmark.color 
        }" -->
        <i class="fa-solid fa-bookmark fa-co" [ngStyle]="{ 'color': bookmark.color}"></i> Marker {{i + 1}}
    </li>
</ul>

<div #mapBookmark class="mapContainer"></div> 